
   <h1>Blocipedia: Social, Markdown Wikis</h1>

<div class = 'jumbotron'>
     <h3>Create and share Markdown Wikis</h3>
      <div class ="text-center">
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary center-block' %>
      </div>
</div>

 <div class="row">
   <div class="col-md-6 center-block">
     <h2>Create as many public wikis as you want!</h2>
     <p>Free Plan</p>
   </div>
   <div class="col-md-6 center-block">
     <h2>Create private wikis!</h2>
     <p>Premium Plan</p>
   </div>
 </div>
